.search-container {
    display: flex;
}

.search-bar-wrapper {
    display: flex;
    justify-content: space-around;
    margin-left: 4%;
    margin-right: -3%;
}

.social-wrapper {
    display: flex;
}

.search_input {
    position: relative;
    right: 50px;
}

.instagram-fancy {
    position: relative;
    right: 160px;
}